@import "tailwindcss";

@theme {
  --color-primary: #00f2c3;
  --color-secondary: #00d2ff;
  --color-background-dark: #020617;
  --font-sans: "Poppins", sans-serif;

  /* Custom Marquee Animation */
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
}
